*{
    font-family: "Arial", sans-serif;
}

body{
    text-align: center;
    background: navy;
}

#imagem{
    width: 350px;
}

#container{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #fff;
    width: 500px;
}
